html *
{
   font-family: Lucida Console;
}

.title {
    text-align: center;
    margin-bottom: 0;
}

h1 {
    font-size: 1.5em;
    margin-top: 10em;
}

body {
    background: black;
    line-height: 1.6;
    text-align: center;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #f2f2f2;
}